<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Backbone.js Todos</title>
  {{ "todos.css" | asset_url | stylesheet_tag }}
</head>

<body>

  {% block content %}{% endblock %}
  
  <!-- Script block allowing child pages to inject their own scripts -->
  {% include "scripts" %}
  
  </body>
</html>